
<% provide(:title, "Sign Up") %>

<h1 class="container">Sign Up</h1>


	<div class="signup">

		<%= render 'form', user: @user %>

	</div>


<style>
.signup{
	margin: 0 auto;
	width: 100%;

}
</style>
