
<div class="container">

	<%= pretty_print_user(@user) %>

</div>

<div class="container">
	<h1> My Courses </h1>
	<div id="my_courses" data-remote="true">
		<%=  pretty_print_enrollments(@enrollments) %>
	</div>
</div>
