

<div class="container subj-container">
	<p class="subject"> <%=pretty_print_subjects(@subjects)%></p>

	<style>
	@import url('https://fonts.googleapis.com/css?family=Open+Sans');

	.subj-container {
			column-count: 4;
			padding: 30px;
			column-gap: 40px;
			color: black;
					width:1500px;
		}
		.subject {
			font-family: 'Open Sans', sans-serif;
			font-size: 18px;
			line-height: 1.4em;
		}
		a{
			font-size: 17px;
			text-decoration: none;
			font-family: "Open Sans";
			color: #000;
		}
		a:hover{

			text-decoration: none !important;
			background-color: transparent !important;
		}

		.subject_name{
			padding-bottom: 5px;
		}

	</style>
</div>
