<div id="enroll_button_<%=course_id%>">

<%if @enrollments.pluck(:course_id).include?(course_id.to_i)%>

<%= button_to 'Unenroll', enroll_in_course_path(course_id: course_id), :remote => true, class: "btn btn-danger btn-sm" %>

<%else%>

<%= button_to 'Enroll', enroll_in_course_path(course_id: course_id), :remote => true, class: "btn btn-primary btn-sm" %>

<%end%>

</div>
